---
layout: layouts/home.njk
pagination:
  data: collections.myCustomSort
  size: 5
permalink: ./{% if pagination.pageNumber > 0 %}page{{ pagination.pageNumber }}/{% endif %}index.html
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% set pageNumber = pagination.pageNumber %}
<div>
  <ol style="counter-reset: start-from {{ postslistCounter + 1 - (pagination.pageNumber * 5) }}" >
    {% for item in pagination.items %}
        <a href="{{ item.page.url }}">
        <div class="p-3 d-flex color-bg-default Box m-3">
          {% if(item.data.cover) %}
            <img class="cover-img" src="/covers/{{item.data.cover}}" alt="cover image" height="auto" loading="lazy" decoding="async"/>
          {% elif(item.data.coverURL) %}
            <img class="cover-img" src="{{item.data.coverURL}}" alt="cover image" height="auto" loading="lazy" decoding="async"/>
          {% endif %}

          <div class="d-flex p-3 flex-direction-col">
            <h5 class="d-flex flex-items-center">
                {% if item.data.title %}{{ item.data.title }}{% else %}<code>{{ item.url }}</code>{% endif %}
              </h5>
            <div>
              <time class="postlist-date" datetime="{{ item.date | htmlDateString }}">Created at: {{ item.page.date | readableDate("yyyy년 LL월 dd일 hh시 mm분 ss초") }}</time>
            </div>
          </div>
        </div>
        </a>
    {% endfor %}
    </ol>
</div>
<div class="wrapper">
  <ul id="pagination" class="sticky-bottom-nav"></ul>
</div>

{% set _pagination =  pagination.links | dump %}
{% set paginationLinks = pagination.links %}

<script type="text/javascript">
  const pageLinks = `{{_pagination}}`.replaceAll('&quot;','').replaceAll('[','').replaceAll(']','').split(',')
  const postsCount = {{postsCount}}
  let allPages = pageLinks.length
  const pagination = document.getElementById("pagination")
  const NOTHING_BUTTON = (dir='<')=>`<li class="btn">${dir}</li>`
  const pageNumber = {{pageNumber}}

  function elem(allPages = pageLinks.length, page) {
    let li = "";
    let beforePages = page - 1;
    let afterPages = page + 1;
    let liActive;

    let spaceStack = [];


  if (page > 0) {
    li += `
    <a href="${pageLinks[page-1]}">
    <li class="btn" onclick="elem(allPages, ${
      page - 1
    })" > < </li>
    </a>
    `;
    spaceStack.push(1)
  } else {
    li += NOTHING_BUTTON('_')
    spaceStack.push(1)
  }

  for (let currentPage = beforePages; currentPage <= afterPages; currentPage++) {

    if (currentPage > allPages ) {
      continue;
    }

    if (currentPage == -1) {
      currentPage = currentPage + 1;
    }

    if (page == currentPage) {
      liActive = "active";
    } else {
      liActive = "";
    }

    /**
    * 마지막 페이지의 pagination
    */
    if(page == allPages - 1) {
    li += `
      <a href="${pageLinks[currentPage]}">
      <li class="numb active" onclick="elem(allPages, ${currentPage})"><span>
      ${afterPages}
      </span></li>
      </a>
      `;
      spaceStack.push(1)
      break;
    }
    /**
     * 첫 페이지의 pagination
     */
    li += `
      <a href="${pageLinks[currentPage]}">
      <li class="numb ${liActive}" onclick="elem(allPages, ${currentPage})" ><span>
      ${currentPage + 1}
      </span></li>
      </a>
      `;
    spaceStack.push(1)
  }

  if(page == 0) {
    li += `
      <a href="${pageLinks[afterPages + 1]}">
      <li class="numb" onclick="elem(allPages, ${afterPages + 1})" ><span>
        ${afterPages + 2}
      </span></li>
      </a>
      `;
    spaceStack.push(1)
  }

  if (page < allPages && page !== allPages - 1) {
    li += `
    <a href="${pageLinks[afterPages]}">
      <li class="btn" onclick="elem(allPages, ${
        page + 1
      })" > > </li>
    </a>
    `;
    spaceStack.push(1)
  } else {
    while(spaceStack.length < 5) {
      li += NOTHING_BUTTON('_')
      spaceStack.push(1)
    }
  }

  pagination.innerHTML = li;
}
elem(allPages, {{pageNumber}});
</script>




