---
layout: layouts/home.njk
pagination:
  data: collections.myCustomSort
  size: 5
permalink: ./{% if pagination.pageNumber > 0 %}page{{ pagination.pageNumber }}/{% endif %}index.html
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% set pageNumber = pagination.pageNumber %}
<div class="posts-container">
    {% for item in pagination.items %}
        <a href="{{ item.page.url }}">
        <div class="p-3 d-flex color-bg-default Box m-3 post-container">
          {% if(item.data.coverURL) %}
            <img class="cover-img" src={% convert item.data.coverURL %} alt="cover image" height="auto" />
          {% endif %}
          <div class="d-flex pl-3 flex-direction-col post-title-container">
              <h5 class="d-flex flex-items-center post-title">
                  {% if item.data.title %}{{ item.data.title }}{% else %}<code>{{ item.url }}</code>{% endif %}
              </h5>
              <time class="postlist-date" datetime="{{ item.date | htmlDateString }}">{{ item.page.date | readableDate("yyyy/LL/dd") }}</time>
          </div>
        </div>
        </a>
    {% endfor %}
</div>
<div class="wrapper">
  <ul id="pagination" class="sticky-bottom-nav"></ul>
</div>

{% set _pagination =  pagination.links | dump %}
{% set paginationLinks = pagination.links %}

<script type="text/javascript" async>
  const pageLinks = `{{_pagination}}`.replaceAll('&quot;','').replaceAll('[','').replaceAll(']','').split(',')
  const postsCount = {{postsCount}}
  let allPages = pageLinks.length
  const pagination = document.getElementById("pagination")
  const NOTHING_BUTTON = (dir='<')=>`<div class="btn">${dir}</div>`
  const pageNumber = {{pageNumber}}

  function elem(allPages = pageLinks.length, page) {
    let a = "";
    let beforePages = page - 1;
    let afterPages = page + 1;
    let liActive;

    let spaceStack = [];


  if (page > 0) {
    a += `
    <a class="btn" 
    onclick="elem(allPages, ${
      0
    })"
    href="${pageLinks.at(0)}">
      <span> << </span>
    </a>
    <a href="${pageLinks[page - 2] ?? pageLinks[page-1]}" 
     class="btn" onclick="elem(allPages, ${page - 1 })">
      <span> < </span>
    </a>
    `;
    spaceStack.push(1)
  } else {
    a += NOTHING_BUTTON('_')
    spaceStack.push(1)
  }

  for (let currentPage = beforePages; currentPage <= afterPages; currentPage++) {

    if (currentPage > allPages ) {
      continue;
    }

    if (currentPage == -1) {
      currentPage = currentPage + 1;
    }

    if (page == currentPage) {
      liActive = "active";
    } else {
      liActive = "";
    }

    /**
    * 마지막 페이지의 pagination
    */
    if(page == allPages - 1) {
    a += `
        <a href="${pageLinks[currentPage]}" class="numb active" onclick="elem(allPages, ${currentPage})">
         <span>
          ${afterPages}
         </span>
        </a>
      `;
      spaceStack.push(1)
      break;
    }
    /**
     * 첫 페이지의 pagination
     */
    a += `
      <a href="${pageLinks[currentPage]}" class="numb ${liActive}" onclick="elem(allPages, ${currentPage})">
      <span>
        ${currentPage + 1}
      </span>
      </a>
      `;
    spaceStack.push(1)
  }

  if(page == 0) {
    a += `
      <a href="${pageLinks[afterPages + 1]}" class="numb" onclick="elem(allPages, ${afterPages + 1})">
      <span>
        ${afterPages + 2}
      </span>
      </a>
      `;
    spaceStack.push(1)
  }

  if (page < allPages && page !== allPages - 1) {
    a += `
      <a href="${pageLinks[afterPages + 2] ?? pageLinks[afterPages + 1]}" class="btn" onclick="elem(allPages, ${
        page + 1
      })" >
        <span> > </span>
      </a>
    `;
    a += `
      <a href="${pageLinks.at(-1)}" class="btn" onclick="elem(allPages, ${
      allPages
      })" >
        <span> >> </span>
      </a>
    `;
    spaceStack.push(1)
  } else {
    while(spaceStack.length < 5) {
      a += NOTHING_BUTTON('_')
      spaceStack.push(1)
    }
  }

  pagination.innerHTML = a;
}
elem(allPages, {{pageNumber}});
</script>




