---
layout: layouts/home.njk
eleventyNavigation:
  key: Posts
  order: 2
pagination:
  data: collections.posts
  size: 5
permalink: posts/{% if pagination.pageNumber > 0 %}page{{ pagination.pageNumber }}/{% endif %}index.html

---
{{ pagination | tap }}
<h1>Posts</h1>
<ol>
{% for item in pagination.items %}
  <li>
    <div> 
      <h4>
        {{ item.data.title }} 
      </h4>
    </div>
  </li>
{% endfor %}
</ol>

