<nav class="navbar navbar-expand-sm border-bottom-1 border-danger">
    <div class="container-fluid mx-2">
        <a class="nav-link active" href="/">{{ site.github_username }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/assets/images/profile.webp" alt="🌸somsom2🌸" class="profile rounded-3">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for item in site.data.navigation %}
                <li class="nav-item ">
                    <a class="nav-link active  text-white" aria-current="page" href="{{ item.link }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>