<div class="PageNavigation">
    {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">
      <svg class="transform rotate-90" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.101 5.5V23.1094L9.40108 17.4095L8.14807 18.6619L15.9862 26.5L23.852 18.6342L22.5996 17.3817L16.8725 23.1094V5.5H15.101Z" fill="currentColor">
      </path>
      </svg>
        {{page.previous.title}}
    </a>
    {% endif %}
    {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} 
      <svg class="transform rotate-270" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.101 5.5V23.1094L9.40108 17.4095L8.14807 18.6619L15.9862 26.5L23.852 18.6342L22.5996 17.3817L16.8725 23.1094V5.5H15.101Z" fill="currentColor">
      </path>
      </svg>
    </a>
    {% endif %}
</div>