<div class="pt-4">
    <span id="searchform" method="post" action="/subscribe/" class="">
    <input class="confirm" type="hidden" name="confirm"  />
    <input class="location" type="hidden" name="location"  />
    <input class="referrer" type="hidden" name="referrer"  />

   <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">🐶</span>
  <input type="text"
         id="searchtext" type="text" name="searchtext"
         class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
     <button id="searchBtn" class="btn btn-secondary" type="button">Button</button>
   </div>
    <script defer type="text/javascript">
        const searchBtn = document.getElementById("searchBtn")
            .addEventListener("click",()=>myFunc())

        function myFunc() {
            const url = encodeURIComponent($("#searchtext").val());
            location.href = "/search.html?query=" + url;
        }
    </script>
    </span>
</div>
