@use "sass:math";
@import "./_mixins.scss";

@include mobile {
  .default-body {
      width: calc(95vw);
      margin:0 auto;
  }
}

@include tablet {
  .default-body {
    width: calc(100vw/1.2);
    margin:0 auto;
  }
}

@include desktop {
  .default-body {
    width: calc(100vw/1.2);
    margin:0 auto;
  }
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.5;
  color: #d4d4d4;
  background-color: #191919;
}

//article[role="main"] {
//  width: math.div(600px, 960px) * 100%;
//}
//
//aside[role="complementary"] {
//  width: math.div(300px, 960px) * 100%;
//  margin-left: auto;
//}

//@media only screen and (min-width: 600px) {
//  .default-body {
//    display: grid;
//    justify-content: center;
//    align-content: center;
//  }
//
//  .paper {
//    width:calc(100vw - 10rem);
//    display: grid;
//    justify-content: center;
//    align-content: center;
//  }
//}
