* {
	margin: 0;
	padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  max-width:660px;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 22px;
  height: 1000px;
}

div.content > ul {
// margin-top:5rem;
}

div.content > p{
    padding-top:.5rem;
    padding-bottom:.5rem;
    font-size:20px;
    white-space:pre-lien;
    margin-top:12.5rem;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {
  margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  div.content {
  margin-left: 0;
  margin-top: 1.5rem;
  }
}

.profileImage {
 border-radius: 50%;
 width: 5rem;
 height: 5rem;
 margin: .5rem 0;
}

.center {
    display:flex;
    justify-content:center;
    align-height:center;
}
