---
---
@import "typography";
@import "layout";
@charset "UTF-8";


.profile-root {
display: flex;
justify-content: center;
align-items: center;
}
.red {
    color:rgb(250, 35, 78)
}
.green {
    color:rgb(70, 250, 97)
}
.blue{
    color:rgb(97, 70, 250)
}

.profile {
    position: absolute;
    width: 2.8rem;
    height: 2.8rem; 
}

.profile-svg {
        animation: rotate_image 20s linear infinite;
        transform-origin: 50% 50%;
     
    @keyframes rotate_image{
        100% {
            transform: rotate(360deg);
        }
    }
}

.bottom20 {
    height:80%
}

.page-footer{
    display: grid;
    width: 100%;
    color: white;
    padding-top: 20px;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
}

.pages-wrapper {
    padding:20px;
}


.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
}

.PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.PageNavigation .next {
    text-align: right;
}



// .content {
//     padding:4.5rem .5rem .5rem .5rem;
//     border-top:3px dashed #58ff1a;

// }
// .content > P {
//     padding-top:1.2rem;
// }
// .content > * {
//     font-size:larger
// }
// .content > P > img {
//     width: calc(100vw/1.5);
// }
.bannerImg {
    width: calc(100vw/1.5);
}

.page_number {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    width: 100%;
}

// tables
// table {
//     border: 1px #58ff1a solid;
//     font-size: .9em;
//     box-shadow: 0 2px 5px rgba(0,0,0,.25);
//     width: 100%;
//     border-collapse: collapse;
//     border-radius: 5px;
//     overflow: hidden;
//   }
  
//   th {
//     text-align: center;
//   }
    
//   thead {
//     font-weight: bold;
//     color: #d4d4d4;
//     background: #393939;
//   }
    
//    td, th {
//     padding: 1em .5em;
//     vertical-align: middle;
//     text-align: center;
//   }
    
//    td {
//     border-bottom: 1px solid rgba(0,0,0,.1);
//     background: #595959;
//   }


  // transform

  .transform {
    transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .rotate-90 {
    transform: rotate(90deg);
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
  .rotate-270 {
    transform: rotate(270deg);
  }


  .content {
    padding:4.5rem .5rem .5rem .5rem;
    border-top:3px dashed #58ff1a;

}
.content > P {
    padding-top:1.2rem;
}
.content > * {
    font-size:larger
}
.content > P > img {
    width: calc(100vw/1.5);
}



// tables
table {
    border: 1px #58ff1a solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
  }
  
  th {
    text-align: center;
  }
    
  thead {
    font-weight: bold;
    color: #d4d4d4;
    background: #393939;
  }
    
   td, th {
    padding: 1em .5em;
    vertical-align: middle;
    text-align: center;
  }
    
   td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #595959;
  }

  // quote
  blockquote {
    border: 1px solid #30b600;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 35px;
    padding-right: 5px;
    border-left: 10px solid #30b600;
  }