---
---
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap/bootstrap.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo %}
</head>
<body class="bg-dark text-bg-dark fs-5 ">
    {% include navigation.html %}
<div class="mt-4 pt-4 mx-2 grid">
    {{ content }}
</div>
</body>
{% include footer.html %}
</html>