---
layout: default
---
<h1>{{ page.title }}</h1>
    <p>
        {{ page.date | date_to_string }}
        {% assign author = site.authors | where: 'short_name', page.author | first%}
        {% if author %}
        - <a href="{{ author.url }}" class="text-black-50 fs-6 fst-italic"> 👨‍🎨 {{ author.name }}</a>
        {% endif %}
    </p>
    {{ content }}
<div>
    <div class="pt-4"></div>
    {% for post in site.posts %}
        <ul class="list-group list-group-flush pt-1">
            <li class="list-group-item">
                ️ <a href="{{ post.url }}" class="text-black-50 fs-6 fst-italic">⚓ {{ post.title }}</a>
            </li>
        </ul>
    {% endfor %}
</div>