<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WJ6H692D');</script>
	<!-- End Google Tag Manager -->
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PQXWR4K22C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PQXWR4K22C');
</script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }} | {{ metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<meta property="og:title" content={{title or renderData.title or metadata.title | escape }}/>
		<meta property="og:url" content={{ page.url | escape }} />
		<meta property="og:description" content={{ description or renderData.description | escape }} />
		<meta property="og:image" content="/static/img/logo.png" />
		<meta property="og:type" content="article" />
		<link rel="canonical" href={{ page.url | escape }} />
		<meta name="robots" content="index, follow" />

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		<meta name="google-site-verification" content="FzIp87nE_pk-4x5nXeKcIX-x1rqYcjlabzuH1EqXFYs" />
    	<meta name="naver-site-verification" content="6cf39493d46e888e46dfc3a608270980215dbca5" />

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}


		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
	</head>
	<body>
		<div id="dimLayer"></div>
			<header>
				<button id="openDrawerBtn">
					🌳
				</button>
			<a href="/" class="home-link">{{ metadata.title }}</a>
			<nav>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				
				<div id="drawerMenu">
					<ul>
						<li>Categories</li>
						<li><a href="/">home</a></li>
						<li><a href="/about">about</a></li>
						{%- for categories, posts in eleventyComputedGetCategories  %}
							<li>
									<details>
										<summary>{{categories}}</summary>
										<ul>
											{%- for post in posts %}
												<li>
													<a href=/blog/{{ post[0] }}/{{ post[1] | urlencode }}>
														{{post[1]}}
													</a>
												</li>
											{%- endfor %}
										</ul>
									</details>
							</li>
						{%- endfor %}
					</ul>
			</nav>
		</header>
		<main>
			{{ content | safe }}
		</main>
		  <footer></footer>
	</body>
		<script type="text/javascript" async>
		const openDrawerBtn = document.getElementById('openDrawerBtn');
		const drawerMenu = document.getElementById('drawerMenu');
		const dimLayer = document.getElementById("dimLayer")

		openDrawerBtn.addEventListener('click', () => {
			dimLayer.classList.add('appear-dim');
			drawerMenu.style.left = '0';
		})

		dimLayer.addEventListener('click', () => {
			dimLayer.classList.remove('appear-dim')
   		    drawerMenu.style.left = '-280px';
		})

		document.addEventListener('click', (event) => {
			/**
			* drawerMenu의 하위 메뉴면서, 이벤트 타겟이 drawerMenu인 경우
			* 이는 카테고리의 하위 메뉴들이 선택 되었을 때 해당되지 않습니다.
			* 하위메뉴이지만 drawerMenu자체는 아니기 때문입니다.
			*/
			if(drawerMenu.contains(event.target) && event.target === drawerMenu) {
				dimLayer.classList.remove('appear-dim')
   		        drawerMenu.style.left = '-280px';
				return
			}

			/**
			 * drawerMenu가 아니면 menu를 닫습니다.
			*/
			if (
			event.target !== drawerMenu 
			&& event.target !== openDrawerBtn
			&& !drawerMenu.contains(event.target)
			) {
				dimLayer.classList.remove('appear-dim')
				drawerMenu.style.left = '-280px';
			}
		});
		</script>
</html>
