---
type: page
meta:
  language: ko-KR
eleventyComputed:
  meta:
    site:
      name: "{{ metadata.title }}"
      description: "{{ metadata.description }}"
      url: "{{ metadata.url }}"
    title: "{{ title or metadata.title }}"
    description: "{{ description or metadata.description }}"
    image:
      src: "{% if image %}{{ metadata.url }}{{ image }}{% endif %}"
---
<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WJ6H692D');</script>
	<!-- End Google Tag Manager -->
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PQXWR4K22C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PQXWR4K22C');
</script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }} | {{ metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		{% jsonLdScript meta, type, tags %}
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<meta property="og:title" content={{title or renderData.title or metadata.title | escape }}/>
		<meta property="og:url" content={{ page.url | escape }} />
		<meta property="og:description" content={{ description or renderData.description | escape }} />
		<meta property="og:image" content="/static/img/logo.png" />
		<meta property="og:type" content="article" />
		<link rel="canonical" href={{ page.url | escape }} />
		<meta name="robots" content="index, follow" />

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		<meta name="google-site-verification" content="FzIp87nE_pk-4x5nXeKcIX-x1rqYcjlabzuH1EqXFYs" />
    	<meta name="naver-site-verification" content="6cf39493d46e888e46dfc3a608270980215dbca5" />

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}


		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		<style>
			@media (prefers-color-scheme: dark) {
				:root {
					--pagefind-ui-primary: #eeeeee;
					--pagefind-ui-text: #eeeeee;
					--pagefind-ui-background: #152028;
					--pagefind-ui-border: #152028;
					--pagefind-ui-tag: #152028;
				}
			}
		</style>

	</head>
	<body>
		<div id="dimLayer"></div>
			<header>
				<button id="openDrawerBtn">
					🌳
				</button>
			<a href="/" class="home-link">{{ metadata.title }}</a>
			<div id="pagefind-search" class="search"></div>
			<nav>
				<ul id="drawerMenu"class="nav">
					<ul>
						<li><a href="/">home</a></li>
						<li><a href="/about">about</a></li>
						<li><a href="/feed.xml">RSS</a></li>
						{% macro renderCate(cate) %}
							<ul>
								{% for key, value in cate %}
									<li>
											{% if value is mapping %}
											<details>
												<summary>{{ key }}</summary>
													{{ renderCate(value) }}
											</details>
											{% else %}
												<a href="{{value[0]}}/{{value[1]}}">
													{{value[1]}}
												</a>
											{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% endmacro %}

						{% set cate = eleventyComputedGetCategories %}

						{{ renderCate(cate) }}
					</ul>
			</nav>
		</header>
		<main>
			{{ content | safe }}
		</main>
		<script src="/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#pagefind-search', showImages: false });"></script>
		<script type="text/javascript" async>
		const openDrawerBtn = document.getElementById('openDrawerBtn');
		const drawerMenu = document.getElementById('drawerMenu');
		const dimLayer = document.getElementById("dimLayer");
		const body = document.getElementsByTagName("body")[0];


		const isDrawerMenuOpen = () => {
			return drawerMenu.style.left === '' || drawerMenu.style.left === '0px';
			}
		const isPc = () => window.outerWidth > 768;


		openDrawerBtn.addEventListener('click', () => {
			if(isPc() && isDrawerMenuOpen()) {
			/** insert menu */
			    drawerMenu.style.left = '-280px';
				body.style.marginLeft = '0';
				return
			} else if(isPc() && !isDrawerMenuOpen()) {
			/** draw menu */
				drawerMenu.style.left = '0';
				body.style.marginLeft = '290px';
				return
			} else {
			/** mobile **/
			dimLayer.classList.add('appear-dim');
			drawerMenu.style.left = '0';
			}
		})

		dimLayer.addEventListener('click', () => {
			console.log('isPc?', isPc())
			if(isDrawerMenuOpen()) return

			dimLayer.classList.remove('appear-dim')
   		    drawerMenu.style.left = '-280px';
		})

		document.addEventListener('click', (event) => {
			if(isPc()) {
			   dimLayer.classList.remove('appear-dim')
			   return;
			}
			/**
			* drawerMenu의 하위 메뉴면서, 이벤트 타겟이 drawerMenu인 경우
			* 이는 카테고리의 하위 메뉴들이 선택 되었을 때 해당되지 않습니다.
			* 하위메뉴이지만 drawerMenu자체는 아니기 때문입니다.
			*/
			if(drawerMenu.contains(event.target) && event.target === drawerMenu) {
				dimLayer.classList.remove('appear-dim')
   		        drawerMenu.style.left = '-280px';
				return;
			}

			/**
			 * drawerMenu가 아니면 menu를 닫습니다.
			*/
			if (
			event.target !== drawerMenu 
			&& event.target !== openDrawerBtn
			&& !drawerMenu.contains(event.target)
			) {
				dimLayer.classList.remove('appear-dim')
				drawerMenu.style.left = '-280px';
			}
		});
		</script>
	</body>
	<footer>
				<p>Disclaimer: This blog is for informational purposes only. 
					The content provided here is based on personal opinions and experiences.
				Please consult a professional for specific advice.</p>
	<p>&copy; 2023 zerozoo-a blog. All rights reserved.</p>
</footer>
</html>
